body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding: 0;  
}
.container{
    width: 100%;
    margin:20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px hsl(0,0,0,0.1);
    /* background-color: rgb(148, 182, 212); */
}
.container h1{
    text-align:center;
}
.project-form{
    margin-bottom:20px;
    display: flex;
}
.view{
    width: 800px;;
    display: flex;
    justify-content: space-between;
}
.project-form button{
    margin-left: 20px;
}
.project-list{
    list-style-type: none;
    padding: 0;
}
.project-item{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.delete-btn{
    background-color: burlywood;
    color: black;
    border:1px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}